/* 
  {
    "name": "iconic-accordion.css",
    "author": "Arham Web Works"
    "description": "Copying in any form is strictly prohibited. Any instance of copying will be subject to legal action and accountability under the law."
  }
*/
.iconic-accordion-content {
  cursor: pointer;
}
.iconic-content-inner {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 600ms ease;
}
.iconic-icon-minus {
  display: none;
}
.iconic-icon-caret {
  transform: rotate(360deg);
  transition: all 0.2s ease;
}
.iconic-accordion-main.open .iconic-content-inner {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.iconic-accordion-main.open .iconic-icon-minus {
  display: block;
}
.iconic-accordion-main.open .iconic-icon-plus {
  display: none;
}
.iconic-accordion-main.open .iconic-icon-caret {
  transform: rotate(180deg);
}